[buildout]
always-checkout = force
auto-checkout +=
    collective.contact.core
    collective.contact.facetednav
    collective.contact.plonegroup
    collective.contact.widget
    collective.documentviewer
    collective.dms.basecontent
    collective.dms.batchimport
    collective.dms.mailcontent
    collective.dms.thesaurus
    collective.local.workspace
    collective.task
    collective.z3cform.chosen
    collective.z3cform.rolefield
    eea.facetednavigation
    pfwbged.basecontent
    pfwbged.mockups
    pfwbged.policy
    pfwbged.collection
    pfwbged.theme
    plone.formwidget.autocomplete
    plone.formwidget.contenttree
    plone.formwidget.masterselect
    plone.app.locales
# plone
    plone.app.dexterity
    plone.app.workflow
    plone.app.z3cform
